
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<div class="container">
 
    <div class="title-bg">
        <div class="title">İletişim</div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p class="page-content">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indusy standard dummy text ever since the 1500s.
            </p>
            <ul class="contact-widget">
                <li class="fphone">+387 123 456, +387 123 456 <br> +387 123 456</li>
                <li class="fmobile">+387-123-456-1<br>+387-123-456-2</li>
                <li class="fmail lastone">your@email.com<br>customer.care@mail.com</li>
            </ul>
        </div>
        <div class="col-md-7 col-md-offset-1">
            <div class="loc">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d25621.606312921525!2d34.316729164341574!3d36.60951474904368!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d863233a0feb11%3A0xaa2d241bdf8ecb4f!2sErdemli+Meslek+Y%C3%BCksek+Okulu!5e0!3m2!1str!2str!4v1557714891286!5m2!1str!2str" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
